<a href="https://colab.research.google.com/github/Bindhya-K/Practice-session/blob/main/Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
inp = [1,2,3,3,3,3,4,5]
def f1(inp):
  l=[inp[0]]
  for i in inp:
    if i not in l:
      l.append(i)
  return l
f1(inp)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
inp = 'green-red-yellow-black-white'
def f1(inp):
  l1=inp.split('-')
  return '-'.join(sorted(l1))
l2 = f1(inp)
print(l2)

black-green-red-white-yellow

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
inp = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'

def f1(inp):
  up=0
  low=0
  for i in inp:
    if i.isupper():
      up+=1
    elif i.islower():
      low+=1
  return(up,low)
(a,b)=f1(inp)
print(a,b)

9 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
[x for x in l1 if x%2==0]

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [ ]:
# Write code here
inp = int(input('enter the number'))
def f1(inp):
  l1=[]
  for i in range(1,inp):
    if inp%i==0:
      l1.append(i)
  for i in l1:
    if (sum(l1)+inp)/2 == inp:
      x='Perfect Number'
    else:
      x='Not a perfect number'
  return x
a = f1(inp)
print(a)

enter the number496
Perfect Number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
def f1(*args):
  for i in args:
    dic1.update(i)
  return dic1
d1 = f1(dic1,dic2,dic3)
print(d1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [ ]:
# Write code here
inp = 'hello how are you i am fine thank you'
def f1(inp):
  inp = inp.split()
  d1 = {}
  t1 = ()
  for i in inp:
    count=0
    for j in range(len(inp)):
      if i ==inp[j]:
        count+=1
    d1[i]=count
  return d1
d1 = f1(inp)
out = {(i,d1[i]) for i in d1 if d1[i]==max(d1.values())}
print(out)

{('you', 2)}

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [ ]:
# Write code here

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [ ]:
# Write code here

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [ ]:
# Write code here

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here
l1=[1,2,3,4]
l2=[3,4,5,6,7]
l3=[4,5,6,7,8]
list(map(lambda x,y,z:x+y+z,l1,l2,l3))

[8, 11, 14, 17]

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here
list(map(lambda x:x**(x-1),[1,2,3,4,5,6]))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here
inp ='Hi my name is Bindhya.K. How are yOU?'
inp=inp.split()
for i in inp:
  i=i.lower()
  list()

hi
my
name
is
bindhya.k.
how
are
you?

`Problem-14`: Use reduce to convert a 2D list to 1D

In [ ]:
# Write code here

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda x:x['fname'] + ' ' + x['lname'],list(filter(lambda x:True if x['grade'] == 'highly-skilled' else False,employees))))

['Neha Singh', 'Abhinav Sharma']